body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* Impede a seleção de texto durante o arraste */

  /* Fundo de "quadro branco" com grid pontilhado */
  background-color: #f5f5f5;
  background-image: radial-gradient(circle, #cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}
#typing-text {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}
.draggable-file {
  cursor: grab;
}
/* Efeito de arrastar para TODOS os itens (escala e cursor) */
.draggable-file.dragging {
  transform: scale(1.05);
  cursor: grabbing;
}
/* Efeito de sombra APENAS para itens que NÃO são demos de fotos */
.draggable-file.dragging:not(.demo) {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
/* Sombra verde para o modo escuro ao arrastar */
html.dark .draggable-file.dragging:not(.demo) {
  box-shadow: 0 25px 50px -12px rgba(37, 85, 54, 0.233);
}
/* Sombra verde para o modo escuro ao arrastar */
html.dark .draggable-file.dragging.custom_pink {
  box-shadow: 0 25px 50px -12px rgba(206, 85, 170, 0.548);
}
html.dark .draggable-file.dragging.custom_white {
  /* box-shadow: 0 25px 50px -12px rgba(204, 204, 204, 0.548); */
  box-shadow: rgba(184, 184, 184, 0.274) 0px 48px 100px 0px;
}
html.dark .draggable-file.dragging.custom_orange {
  /* box-shadow: 0 25px 50px -12px rgba(204, 204, 204, 0.548); */
  box-shadow: rgba(172, 120, 72, 0.178) 0px 48px 100px 0px;
}
html.dark .draggable-file.dragging.custom_blue {
  /* box-shadow: 0 25px 50px -12px rgba(204, 204, 204, 0.548); */
  box-shadow: rgba(102, 243, 220, 0.178) 0px 48px 100px 0px;
}
/* Animação do cursor piscando */
.blinking-cursor {
  font-weight: 500;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
